$background: #222;
$foreground: #bbb;
$foreground-light: scale-color($foreground, $lightness: 30%);
$colors: (
  // onedark
  red: #e06c75,
  green: #98c379,
  blue: #61afef,
  yellow: #e5c07b,
  magenta: #c678dd,
  cyan: #56b6c2
);

@mixin header-colors {
  $primitives: (
    h1: red,
    h2: cyan,
  );

  @each $tag, $color-name in $primitives {
    $hex: map-get($colors, $color-name);

    #{$tag} {
      color: $hex;

      &::before {
        background-color: $hex;
      }
    }
  }

  $sections: (
    professional: blue,
    work: yellow,
    personal: magenta,
  );

  @each $name, $color-name in $sections {
    $hex: map-get($colors, $color-name);
    $hex-light: scale-color($hex, $lightness: 30%);

    .#{$name} h3 {
      a {
        color: $hex;
      }

      a:hover {
        color: $hex-light;
      }

      &::before {
        background-color: $hex;
      }

      &:hover::before {
        background-color: $hex-light;
      }
    }
  }
}

@mixin headers {
  $max-indentation: 4ch;
  $indentation: (
    h1: 1.5ch,
    h2: 2.5ch,
    h3: 0.5ch,
  );

  .section {
    & {
      margin-top: 2rem;
    }

    h3 {
      $interpolation: cubic-bezier(0.2, 0.55, 0.46, 1.07);
      $duration: 250ms;

      & {
        transition: padding-left $duration $interpolation;
        font-weight: normal;
      }

      &:hover {
        padding-left: $max-indentation;
      }

      &::before {
        transition: width $duration $interpolation;
      }

      &:hover::before {
        width: $max-indentation;
      }
    }
  }

  h1,
  h2,
  h3 {
    & {
      margin: 0.5rem 0;
      vertical-align: middle;
      position: relative;

      text-indent: 0.5ch;
    }

    &,
    a {
      line-height: 1;
      text-decoration: none;
    }

    a {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
    }
  }

  h1,
  h2 {
    font-weight: bold;
    text-transform: uppercase;

    // compensate the fact that weight 600 is too little and weight 700 is too much
    letter-spacing: 1.5px;
  }

  @each $tag, $size in $indentation {
    #{$tag} {
      padding-left: $size;

      &::before {
        width: $size;
      }
    }
  }
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: 'Red Hat Mono', monospace;
  box-sizing: border-box;
  line-height: 1.4;
  color: $foreground;
}

body {
  height: 100vh;
  background-color: $background;
}

#root {
  padding: 1rem;
  margin: 0 auto;

  $reading-width: 768px; // same as 80ch
  width: $reading-width; // desktop

  // mobile
  @media (max-width: $reading-width) {
    width: 100%;
  }
}

@include headers;
@include header-colors;

.nav-container {
  & {
    padding: 1ch 0;
    text-align: center;
  }

  li {
    list-style: none;
    display: inline;
  }

  li:not(:first-of-type)::before {
    content: '|';
  }

  a {
    text-transform: lowercase;
    text-decoration: none;
    color: $foreground-light;
  }

  a:hover {
    text-decoration: underline;
  }
}

p,
ul {
  margin-left: 1ch;
}

ul {
  & {
    list-style: none;
    margin-top: 0.5ch;
  }

  li {
    margin-left: 2ch;
  }

  li::before {
    content: '> ';
  }
}

$max-position: 10000%;
$duration: 40s;

@keyframes background-carroussel {
  from {
    background-position: 0;
  }

  to {
    background-position: $max-position;
  }
}

.brazilian-btw {
  $green: rgba(0, 148, 64, 1);
  $yellow: rgba(255, 203, 0, 1);
  $blue: rgba(48, 38, 129, 1);
  $white: #fff;

  // list item <li>
  &::before {
    color: $foreground-light;
  }

  p {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
    color: #e2e2e2;
  }

  p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2ch;
    width: 100%;
    height: 1px;

    animation: $duration linear alternate forwards infinite background-carroussel;
    background-size: 15ch 10ch;
    background-image: linear-gradient(
      -45deg,
      $green 30%,
      $yellow 30%,
      $yellow 45%,
      $blue 45%,
      $blue 49%,
      $white 49%,
      $white 51%,
      $blue 51%,
      $blue 55%,
      $yellow 55%,
      $yellow 70%,
      $green 70%
    );
  }
}

.the-thinker {
  $small: 1.5rem;
  $big: 200px;
  $interpolation: cubic-bezier(0.27, 0.51, 0.26, 1.07);

  & {
    position: relative;
    height: inherit;
    margin-left: 1ch;
  }

  img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: $small;
    height: $small;
    transition: all 150ms $interpolation;
  }

  img:hover {
    width: $big;
    height: $big;
  }
}
